body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.itemContainer {
  background-color: rgb(65, 43, 7);
}

.itemContainer h1 {
  text-align: center;
  color: whitesmoke;
  margin-top: 50px;
  padding: 10px;
}

.mensaje {
  background-color: aliceblue;
  text-align: center;
  padding: 20px;
}
.texto {
  background-color: aliceblue;
  text-align: center;
  padding: 20px;
}
.texto1 {
  display: inline-block;
  margin: 15px;
}
.texto2 {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.itemCount {
  background-color: rgb(65, 43, 7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contador {
  background-color: aliceblue;
  color: black;
  border-radius: 30px;
}
.contador:hover {
  background-color: grey;
}

.elH1 {
  background-color: rgb(65, 43, 7);
  text-align: center;
  color: whitesmoke;
  margin-top: 50px;
  padding: 10px;
}

.footer {
  height: 150px;
  margin-top: 200px;
  background-color: #6d4c41;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
}
