body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.itemContainer{
  background-color: rgb(65, 43, 7);
}

.itemContainer h1{
  text-align: center;
  color: whitesmoke;
  margin-top: 50px;
  padding: 10px;
}

.contador{
  background-color: aliceblue;
  text-align: center;
  padding: 20px;
}
.contador span{

  border-style: solid;
  border-radius: 10px;
}
.mensaje{
  background-color: aliceblue;
  text-align: center;
  padding: 20px;
}
.texto{
  background-color: aliceblue;
  text-align: center;
  padding: 20px;
  
}
.texto1{
  display: inline-block;
  margin: 15px;
}
.texto2{
  background-color: aliceblue;
  display:flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}

